---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-3.0.1/charts/library/common/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: element
spec:
  releaseName: element
  interval: 15m
  chartRef:
      kind: OCIRepository
      name: matrix-stack
      namespace: flux-system
  values:
    serverName: matrix.${SECRET_DOMAIN}

    matrixRTC:
      enabled: false # Disable for first test of chart
      ingress:
        host: mrtc.${SECRET_DOMAIN}

    elementWeb:
      enabled: true
      ingress:
        host: element.${SECRET_DOMAIN}

    postgres:
      enabled: false # Will use my own CNPG instance

    wellKnownDelegation:
      enabled: true
      baseDomainRedirect:
        enabled: false

    elementAdmin:
      enabled: true
      ingress:
        host: matrix-admin.${SECRET_DOMAIN}

    matrixAuthenticationService:
      ingress:
        host: mas.${SECRET_DOMAIN}
      postgres:
        host: postgres-rw.database.svc.cluster.local
        port: 5432
        user: synapse
        password:
          value: ${SECRET_SYNAPSE_PSQL_MAS_PASS}
        database: synapse-mas
        sslMode: prefer

    # hookshot:
    #   enabled: true
    #   storage:
    #     existingClaim: synapse-hookshot-pvc

    synapse:
      ingress:
        host: synapse.${SECRET_DOMAIN}
      media:
        storage:
          existingClaim: synapse
      postgres:
        host: synapse-psql-v17-rw.default.svc
        port: 5432
        user: synapse
        password:
          secret: element-secret
          secretKey: ELEMENT_DB_PASSWORD
        database: synapse
        sslMode: prefer
      workers:
        initial-synchrotron:
          enabled: true
        synchrotron:
          enabled: true
        federation-sender:
          enabled: true
          replicas: 2
      additional:
        1-experimental-features:
          config: |
            experimental_features:
              msc4190_enabled: true
              msc3202_device_masquerading: true
      # appservices:
      # - secret: appservices-secrets
      #   secretKey: mautrix-slack.yaml
      # - secret: appservices-secrets
      #   secretKey: doublepuppet.yaml