---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app music-assistant
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: music-assistant
  values:
    controllers:
      music-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"media",
                "namespace": "kube-system",
                "mac": "f2:f9:00:00:40:04",
                "ips": ["10.10.40.241/24"]
              }]
        containers:
          app:
            image:
              repository: ghcr.io/music-assistant/server
              tag: 2.7.3@sha256:f25a959247df34ed83e756900b775a2ae26fb24b0cc5fa220b70d03e71395ad7
            env:
              TZ: ${TIMEZONE}
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
            resources:
              limits:
                memory: 1Gi

          bgutil-provider:
            image:
              repository: docker.io/brainicism/bgutil-ytdlp-pot-provider
              tag: 1.2.2
            env:
              TZ: ${TIMEZONE}
              PORT: 4416
            securityContext:
              runAsUser: 1000
              runAsGroup: 1000
              runAsNonRoot: true
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8095
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == any(200,401)"]
        hostnames:
          - music.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      config:
        existingClaim: music-assistant
        globalMounts:
          - path: /data
      media:
        type: nfs
        server: f9-nas.internal
        path: /mnt/F9/Media/Music
        globalMounts:
          - path: /music
      cache:
        type: emptyDir
        globalMounts:
          - path: /.cache
          - path: /tmp
          - path: /.audio