

# Exclude various Terraform/OpenTofu files
*.terraform*
*terraform.*
*start-time.txt

# Exclude secrets
*secret.yaml
*secret.env
*secret.yaml
!externalsecret.yaml
!pushsecret.yaml
kubeconfig
onepassword.env
talosconfig
/.private/
*.crt
*.key

# Remove junk files
.decrypted~*
.DS_Store
Thumbs.db
Brewfile.lock.json
*.iso
/.venv/
/.task/
.local

# Remove Talos OpenTofu output files
infrastructure/talos/output/**