/.private/
*.crt
*.key
.DS_Store
Thumbs.db
infrastructure/tofu/.terraform
infrastructure/tofu/output/**
infrastructure/tofu/terraform.*
infrastructure/tofu/start-time.txt
*.secret.yaml
*.secret.env