---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: smtp-relay
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: smtp-relay
  values:
    controllers:
      smtp-relay:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/foxcpp/maddy
              tag: 0.8.2@sha256:eeb5813fc4d101ec5d8f7b08b7255fd76ced2a06884ea94450c8a9a22fd6a08d
            env:
              SMTP_METRICS_PORT: &metricsPort 8080
              SMTP_SMTP_PORT: &smtpPort 25
              SMTP_SERVER_PORT: 587
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              limits:
                memory: 64Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      hostUsers: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
    persistence:
      cache:
        type: emptyDir
        medium: Memory
      config:
        type: configMap
        name: "{{ .Release.Name }}-configmap"
        globalMounts:
          - path: /data/maddy.conf
            subPath: maddy.conf
            readOnly: true
    service:
      app:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 10.10.69.241
        externalTrafficPolicy: Cluster
        ports:
          http:
            port: *metricsPort
          smtp:
            port: *smtpPort
    serviceMonitor:
      app:
        endpoints:
          - port: http