---
apiVersion: v1
kind: Service
metadata:
  name: truenas-external
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: truenas-external
  labels:
    kubernetes.io/service-name: truenas-external
addressType: FQDN # Corrected: Added addressType for the FQDN
endpoints:
  - addresses:
      - 10.10.10.3
ports:
  - name: http
    protocol: TCP
    port: 80
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: truenas
  annotations:
    gatus.home-operations.com/enabled: "true"
    gatus.home-operations.com/endpoint: |-
      conditions: ["[STATUS] == any(200,401)"]
spec:
  parentRefs:
    - name: envoy-external
      namespace: network
      sectionName: https
  hostnames:
    - "truenas.${SECRET_DOMAIN}"
  rules:
    - backendRefs:
        - name: truenas-external
          port: 80
---
# yaml-language-server: $schema=https://schemas.budimanjojo.com/gateway.envoyproxy.io/securitypolicy_v1alpha1.json
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: SecurityPolicy
metadata:
  name: truenas
spec:
  extAuth:
    headersToExtAuth:
      - X-Forwarded-For # this is here so we can get the real IP
      - X-Forwarded-Proto
      - authorization
      - header-authorization
      - proxy-authorization
      - accept
      - cookie
    failOpen: false
    http:
      backendRefs:
        - group: ""
          kind: Service
          name: authelia
          namespace: default
          port: 80
      path: /api/authz/ext-authz/
      headersToBackend:
        - Remote-User
        - Remote-Groups
        - Remote-Name
        - Remote-Email
  targetRefs:
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      name: truenas
---
apiVersion: v1
kind: Service
metadata:
  name: forgeui-external
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 7400
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: forgeui-external
  labels:
    kubernetes.io/service-name: forgeui-external
addressType: FQDN # Corrected: Added addressType for the FQDN
endpoints:
  - addresses:
      - 10.10.10.3
ports:
  - name: http
    protocol: TCP
    port: 7400
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: forgeui
  annotations:
    gatus.home-operations.com/enabled: "true"
    gatus.home-operations.com/endpoint: |-
      conditions: ["[STATUS] == any(200,401)"]
spec:
  parentRefs:
    - name: envoy-external
      namespace: network
      sectionName: https
  hostnames:
    - "sd.${SECRET_DOMAIN}"
  rules:
    - backendRefs:
        - name: forgeui-external
          port: 7400

---
apiVersion: v1
kind: Service
metadata:
  name: remote-external
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 3000
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: remote-external
  labels:
    kubernetes.io/service-name: remote-external
addressType: IPv4
endpoints:
  - addresses:
      - 10.10.10.3
ports:
  - name: http
    protocol: TCP
    port: 3000
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: remote
  annotations:
    gatus.home-operations.com/enabled: "true"
    gatus.home-operations.com/endpoint: |-
      conditions: ["[STATUS] == any(200,401)"]
spec:
  parentRefs:
    - name: envoy-external
      namespace: network
      sectionName: https
  hostnames:
    - "remote.${SECRET_DOMAIN}"
  rules:
    - backendRefs:
        - name: remote-external
          port: 3000
---
# yaml-language-server: $schema=https://schemas.budimanjojo.com/gateway.envoyproxy.io/securitypolicy_v1alpha1.json
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: SecurityPolicy
metadata:
  name: remote
spec:
  extAuth:
    headersToExtAuth:
      - X-Forwarded-For # this is here so we can get the real IP
      - X-Forwarded-Proto
      - authorization
      - header-authorization
      - proxy-authorization
      - accept
      - cookie
    failOpen: false
    http:
      backendRefs:
        - group: ""
          kind: Service
          name: authelia
          namespace: default
          port: 80
      path: /api/authz/ext-authz/
      headersToBackend:
        - Remote-User
        - Remote-Groups
        - Remote-Name
        - Remote-Email
  targetRefs:
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      name: remote
---
apiVersion: v1
kind: Service
metadata:
  name: nanokvm-external
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: nanokvm-external
  labels:
    kubernetes.io/service-name: nanokvm-external
addressType: IPv4
endpoints:
  - addresses:
      - kvm.internal
ports:
  - name: http
    protocol: TCP
    port: 80
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: nanokvm
  annotations:
    gatus.home-operations.com/endpoint: |-
      conditions: ["[STATUS] == any(200,401)"]
spec:
  parentRefs:
    - name: envoy-external
      namespace: network
      sectionName: https
  hostnames:
    - "kvm.${SECRET_DOMAIN}"
  rules:
    - backendRefs:
        - name: nanokvm-external
          port: 80
---
# yaml-language-server: $schema=https://schemas.budimanjojo.com/gateway.envoyproxy.io/securitypolicy_v1alpha1.json
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: SecurityPolicy
metadata:
  name: nanokvm
spec:
  extAuth:
    headersToExtAuth:
      - X-Forwarded-For # this is here so we can get the real IP
      - X-Forwarded-Proto
      - authorization
      - header-authorization
      - proxy-authorization
      - accept
      - cookie
    failOpen: false
    http:
      backendRefs:
        - group: ""
          kind: Service
          name: authelia
          namespace: default
          port: 80
      path: /api/authz/ext-authz/
      headersToBackend:
        - Remote-User
        - Remote-Groups
        - Remote-Name
        - Remote-Email
  targetRefs:
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      name: nanokvm
---
apiVersion: v1
kind: Service
metadata:
  name: doco-cd-external
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 6584
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: doco-cd-external
  labels:
    kubernetes.io/service-name: doco-cd-external
addressType: IPv4
endpoints:
  - addresses:
      - 10.10.10.3
ports:
  - name: http
    protocol: TCP
    port: 6584
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: doco-cd
  annotations:
    gatus.home-operations.com/endpoint: |-
      url: "https://doco-cd.${SECRET_DOMAIN}/v1/health"
spec:
  hostnames:
    - "doco-cd.${SECRET_DOMAIN}"
  parentRefs:
    - name: envoy-external
      namespace: network
      sectionName: https
  rules:
    - backendRefs:
        - name: doco-cd-external
          port: 6584
---
apiVersion: v1
kind: Service
metadata:
  name: garage-external
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 3909
    - name: s3
      port: 3900
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: garage-external
  labels:
    kubernetes.io/service-name: garage-external
addressType: IPv4
endpoints:
  - addresses:
      - 10.10.10.3
ports:
  - name: http
    protocol: TCP
    port: 3909
  - name: s3
    protocol: TCP
    port: 3900
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: garage
  annotations:
    gatus.home-operations.com/endpoint: |-
      conditions: ["[STATUS] == any(200,401)"]
spec:
  parentRefs:
    - name: envoy-external
      namespace: network
      sectionName: https
  hostnames:
    - "garage.${SECRET_DOMAIN}"
  rules:
    - backendRefs:
        - name: garage-external
          port: 3909
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: s3
  annotations:
    gatus.home-operations.com/endpoint: |-
      conditions: ["[STATUS] == 403"]
spec:
  parentRefs:
    - name: envoy-external
      namespace: network
      sectionName: https
  hostnames:
    - "s3.${SECRET_DOMAIN}"
    - "*.s3.${SECRET_DOMAIN}"
    - "community.${SECRET_DOMAIN}" # https://meta.discourse.org/t/s3-not-aws-backups-stopped-working-presumably-since-an-update/382582
  rules:
    - backendRefs:
        - name: garage-external
          port: 3900
---
# yaml-language-server: $schema=https://schemas.budimanjojo.com/gateway.envoyproxy.io/securitypolicy_v1alpha1.json
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: SecurityPolicy
metadata:
  name: garage
spec:
  extAuth:
    headersToExtAuth:
      - X-Forwarded-For # this is here so we can get the real IP
      - X-Forwarded-Proto
      - authorization
      - header-authorization
      - proxy-authorization
      - accept
      - cookie
    failOpen: false
    http:
      backendRefs:
        - group: ""
          kind: Service
          name: authelia
          namespace: default
          port: 80
      path: /api/authz/ext-authz/
      headersToBackend:
        - Remote-User
        - Remote-Groups
        - Remote-Name
        - Remote-Email
  targetRefs:
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      name: garage