---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: lldap
spec:
  dependsOn:
    - name: cloudnative-pg
      namespace: database
  interval: 30m
  path: ./kubernetes/apps/default/lldap/app
  prune: true
  retryInterval: 1m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: default
  wait: false