---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux-operator
spec:
  interval: 1h
  components:
    - ../../../../components/ext-auth
  path: ./kubernetes/apps/flux-system/flux-operator/app
  postBuild:
    substitute:
      APP: flux-operator
      EXT_AUTH_TARGET: flux-operator
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: flux-system
  wait: true
