---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/tags/app-template-4.1.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: matter-server
spec:
  interval: 12h
  chartRef:
    kind: OCIRepository
    name: matter-server
  values:
    controllers:
      matter-server:
        containers:
          app:
            image:
              repository: ghcr.io/home-assistant-libs/python-matter-server
              tag: 8.1.0@sha256:170aa093ce91c76cde4cc390918307590f0f5558fcec93f913af3cb019e6562a
            args:
              - --storage-path=/data
              - --primary-interface=net1
              - --log-level=debug
              - --log-level-sdk=info
            env:
              TZ: ${TIMEZONE}
              MATTER_SERVER__INSTANCE_NAME: "{{ .Release.Name }}"
              MATTER_SERVER__PORT: &port 5580
              MATTER_SERVER__APPLICATION_URL: "{{ .Release.Name }}.${SECRET_DOMAIN}"
              MATTER_SERVER__LOG_LEVEL: info
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi

    defaultPodOptions:
      annotations:
        k8s.v1.cni.cncf.io/networks: |
          [{
              "name":"iot",
              "namespace": "kube-system",
              "mac": "f2:f9:00:00:00:03",
              "ips": ["10.10.20.243/24"]
          }]
      securityContext:
        runAsNonRoot: false # Must be run as root user
        runAsUser: 0        # Must be run as root user
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups:
          - 34
    service:
      app:
        ports:
          http:
            port: 5580
    persistence:
      data:
        existingClaim: matter-server
      tmp:
        type: emptyDir
