---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: element
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: element-secret
    template:
      engineVersion: v2
      data:
        homeserver.yaml: |
          server_name: {{ .ELEMENT_SERVERNAME }}
          pid_file: /data/homeserver.pid
          listeners:
            - port: 8008
              tls: false
              type: http
              x_forwarded: true
              resources:
                - names: [client, federation]
                  compress: false
          database:
            name: psycopg2
            txn_limit: 10000
            args:
              user: {{ .ELEMENT_DB_USERNAME }}
              password: {{ .ELEMENT_DB_PASSWORD }}
              dbname: synapse
              host: postgres-rw.database.svc.cluster.local
              port: 5432
              cp_min: 5
              cp_max: 10
          log_config: "/data/log.config"
          media_store_path: /data/media_store
          registration_shared_secret: {{ .ELEMENT_REGISTRATION_SHARED_SECRET }}
          report_stats: true
          macaroon_secret_key: {{ .ELEMENT_MACAROON_SECRET }}
          form_secret: {{ .ELEMENT_FORM_SECRET }}
          signing_key_path: "/data/signing.key"
          trusted_key_servers:
            - server_name: "matrix.org"
          # web_client_location: https://element.hemma.dev/
          enable_registration: false
          federation_domain_whitelist: []
        signing.key: |
          {{ .ELEMENT_SIGNING_KEY }}
        log.config: |
          version: 1
          formatters:
            precise:
              format: '%(asctime)s - %(name)s - %(lineno)d - %(levelname)s - %(request)s - %(message)s'
          handlers:
            console:
              class: logging.StreamHandler
              formatter: precise
          loggers:
              _placeholder:
                  level: "ERROR"
              synapse.storage.SQL:
                  level: ERROR
          root:
              level: ERROR
              handlers: [console]
          disable_existing_loggers: false

        # Postgres Init
        INIT_POSTGRES_DBNAME: synapse
        INIT_POSTGRES_HOST: postgres-rw.database.svc.cluster.local
        INIT_POSTGRES_USER: "{{ .ELEMENT_DB_USERNAME }}"
        INIT_POSTGRES_PASS: "{{ .ELEMENT_DB_PASSWORD }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"

  dataFrom:
    - extract:
        key: element