---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: element
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      synapse:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1.0@sha256:3c54d39f19fdb82ed5b3f286450e4071133cc6025bd0e25856bc2c522f8fc030
            envFrom:
              - secretRef:
                  name: element-secret
        containers:
          main:
            image:
              repository: ghcr.io/element-hq/synapse
              tag: v1.146.0
            env:
              SYNAPSE_CONFIG_DIR: /data
              SYNAPSE_CONFIG_PATH: /data/homeserver.yaml
              SYNAPSE_DATA_DIR: /data
              TZ: ${TIMEZONE}
            resources:
              requests:
                cpu: 100m
                memory: 1Gi
              limits:
                memory: 2Gi
          admin:
            image:
              repository: oci.element.io/element-admin:latest

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      synapse:
        ports:
          http:
            port: 8008
      admin:
        ports:
          http:
            port: 8080
    route:
      synapse:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == any(200,401)"]
        hostnames: ["matrix.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
      admin:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == any(200,401)"]
        hostnames: ["matrix-admin.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network

    persistence:
      data:
        existingClaim: synapse
        advancedMounts:
          synapse:
            main:
              - path: /data

      config:
        type: secret
        name: element-secret
        advancedMounts:
          synapse:
            main:
              - path: /data/homeserver.yaml
                subPath: homeserver.yaml
                readOnly: true
              - path: /data/signing.key
                subPath: signing.key
                readOnly: true
              - path: /data/log.config
                subPath: log.config
                readOnly: true
