---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app paperless
spec:
  components:
    - ../../../../components/volsync
    - ../../../../components/nfs-scaler
    - ../../../../components/ext-auth
  dependsOn:
    - name: volsync
      namespace: volsync-system
  interval: 1h
  path: "./kubernetes/apps/default/paperless/app"
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 15Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: default
  wait: false
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app paperless-ai
spec:
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: paperless
  interval: 1h
  path: ./kubernetes/apps/default/paperless/ai
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 128Mi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: default
  wait: false