---
machine:
  install:
    disk: /dev/sda
  kubelet:
    extraMounts:
      - destination: /var/openebs/local
        type: bind
        source: /var/openebs/local
        options:
          - bind
          - rshared
          - rw
  network:
    hostname: k8s-02
    interfaces:
      - interface: br0
        mtu: 1500
        bridge:
          interfaces: ["enp2s0"]
          stp: {enabled: true}
        addresses: ["10.10.100.2/24"]
        routes:
          - network: 0.0.0.0/0
            gateway: 10.10.100.254
        vip:
          ip: 10.10.100.10
        vlans:
        - { vlanId: 20, dhcp: false }
        - { vlanId: 30, dhcp: false }
    nameservers: ["10.10.100.254"]
  nodeLabels:
    topology.kubernetes.io/zone: F9
  type: controlplane
---
apiVersion: v1alpha1
kind: WatchdogTimerConfig
device: /dev/watchdog0
timeout: 5m
