---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: forgejo
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: forgejo
  values:
    controllers:
      forgejo:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          annotations:
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1.0@sha256:3c54d39f19fdb82ed5b3f286450e4071133cc6025bd0e25856bc2c522f8fc030
            envFrom: &envFrom
              - secretRef:
                  name: forgejo-secret

        containers:
          app:
            image:
              repository: codeberg.org/forgejo/forgejo
              pullPolicy: IfNotPresent
              tag: 13.0.4-rootless@sha256:5ebd7bb1f81fd9948e63d810ebd40830a00f8ca29165ca227105b3f5e4ec40bd
            env:
              TZ: ${TIMEZONE}
              USER_UID: 1000
              USER_GID: 1000
            envFrom: *envFrom
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: 3000
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == any(200,401)"]
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
          - "git.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: network

    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          forgejo:
            app:
            - path: /etc/gitea
              subPath: gitea-config # Directory within the PVC for config files
            - path: /data/gitea
              subPath: gitea-data # Directory within the PVC for data files
            - path: /var/lib/gitea/git
              subPath: gitea-lfs # Directory within the PVC for git repositories
      data:
        type: nfs
        server: f9-nas.internal
        path: /mnt/Data/Forgejo
        globalMounts:
          - path: /var/lib/gitea/git/repositories
        enabled: true