---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app lldap
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: lldap
  values:
    defaultPodOptions:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: lldap

    controllers:
      lldap:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1.0@sha256:866f15038ed5185a2b8118821f470bb7ca0df8c4231b8e277446e681ebb1ed84
            envFrom:
              - secretRef:
                  name: lldap-secret
        containers:
          app:
            image:
              repository: ghcr.io/lldap/lldap
              tag: 2024-01-05-alpine-rootless
            env:
              TZ: ${TIMEZONE}
              LLDAP_HTTP_PORT: &port 80
              LLDAP_HTTP_URL: https://lldap.${SECRET_DOMAIN}
              LLDAP_LDAP_PORT: &ldapPort 389
              LLDAP_LDAP_BASE_DN: ${SECRET_LDAP_BASE_DN}
              LLDAP_SMTP_OPTIONS__SERVER: smtp-relay.network.svc.cluster.local
              LLDAP_SMTP_OPTIONS__PORT: "25"
              LLDAP_SMTP_OPTIONS__SMTP_ENCRYPTION: NONE
              LLDAP_SMTP_OPTIONS__FROM: no-reply <no-reply@${SECRET_DOMAIN}>
              LLDAP_SMTP_OPTIONS__ENABLE_PASSWORD_RESET: "true"
              LLDAP_DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: lldap-secret
                    key: LLDAP_DATABASE_URL
            envFrom:
              - secretRef:
                  name: lldap-secret
            resources:
              requests:
                memory: 50Mi
              limits:
                memory: 64Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    service:
      app:
        controller: lldap
        ports:
          http:
            port: *port
          ldap:
            enabled: true
            port: *ldapPort

    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == any(200,401)"]
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: System
          gethomepage.dev/name: LLDAP
          gethomepage.dev/icon: mdi-account-key
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      data:
        enabled: true
        type: emptyDir