---
version: v1alpha1
machine:
  ca:
    crt: op://F9-HomeLab/talos/MACHINE_CA_CRT
    {% if machinetype == 'controlplane' %}
    key: op://F9-HomeLab/talos/MACHINE_CA_KEY
    {% endif %}
  certSANs:
    - 127.0.0.1
    - 10.0.10.100
  features:
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    hostDNS:
      enabled: true
      forwardKubeDNSToHost: false
      resolveMemberNames: true
    kubePrism:
      enabled: true
      port: 7445
    {% if ENV.IS_CONTROLLER %}
    kubernetesTalosAPIAccess:
      allowedKubernetesNamespaces:
        - actions-runner-system
        - system-upgrade
      allowedRoles:
        - os:admin
      enabled: true
    {% endif %}
    rbac: true
    stableHostname: true
  files:
    - op: create
      path: /etc/cri/conf.d/20-customization.part
      content: |
        [plugins."io.containerd.cri.v1.images"]
          discard_unpacked_layers = false
        [plugins."io.containerd.cri.v1.runtime"]
          device_ownership_from_security_context = true
    - op: overwrite
      path: /etc/nfsmount.conf
      permissions: 0o644
      content: |
        [ NFSMount_Global_Options ]
        nfsvers=4.2
        hard=True
        nconnect=16
        noatime=True
  install:
    image: factory.talos.dev/metal-installer/661d95a3f35e1daf5717ae21de62feb849072d3ad9abd46e68984b5f8af4524c:v1.11.0-rc.0
    wipe: false
  kubelet:
    defaultRuntimeSeccompProfileEnabled: true
    disableManifestsDirectory: true
    extraConfig:
      featureGates:
        ImageVolume: true
      serializeImagePulls: false
    image: ghcr.io/siderolabs/kubelet:v1.34.1
    nodeIP:
      validSubnets:
        - 10.10.100.0/24
  network:
    interfaces:
      - interface: br0
        mtu: 1500
        dhcp: true
        vip:
          ip: 10.10.100.10
  nodeLabels:
    intel.feature.node.kubernetes.io/gpu: "true"
    topology.kubernetes.io/region: main
  sysctls:
    fs.inotify.max_user_instances: "8192"
    fs.inotify.max_user_watches: "1048576"
    net.core.rmem_max: "67108864"
    net.core.wmem_max: "67108864"
    net.ipv4.tcp_fastopen: "3"
    vm.nr_hugepages: "1024"
    user.max_user_namespaces: "11255"
  token: op://F9-HomeLab/talos/MACHINE_TOKEN
cluster:
  ca:
    crt: op://F9-HomeLab/talos/CLUSTER_CA_CRT
    {% if ENV.IS_CONTROLLER %}
    key: op://F9-HomeLab/talos/CLUSTER_CA_KEY
    {% endif %}
  clusterName: main
  controlPlane:
    endpoint: https://10.0.10.100:6443
  id: op://F9-HomeLab/talos/CLUSTER_ID
  network:
    cni:
      name: none
    dnsDomain: cluster.local
    podSubnets:
      - 10.42.0.0/16
    serviceSubnets:
      - 10.43.0.0/16
  secret: op://F9-HomeLab/talos/CLUSTER_SECRET
  token: op://F9-HomeLab/talos/CLUSTER_TOKEN
    {% if ENV.IS_CONTROLLER %}
  aggregatorCA:
    crt: op://F9-HomeLab/talos/CLUSTER_AGGREGATORCA_CRT
    key: op://F9-HomeLab/talos/CLUSTER_AGGREGATORCA_KEY
  allowSchedulingOnControlPlanes: true
  apiServer:
    auditPolicy:
      apiVersion: audit.k8s.io/v1
      kind: Policy
      rules:
        - level: Metadata
    certSANs:
      - 127.0.0.1
      - 10.10.100.10
    disablePodSecurityPolicy: true
    extraArgs:
      enable-aggregator-routing: "true"
      feature-gates: ImageVolume=true,MutatingAdmissionPolicy=true
      runtime-config: admissionregistration.k8s.io/v1beta1=true
    image: registry.k8s.io/kube-apiserver:v1.34.1
  controllerManager:
    extraArgs:
      bind-address: 0.0.0.0
    image: registry.k8s.io/kube-controller-manager:v1.34.0
  coreDNS:
    disabled: true
  etcd:
    advertisedSubnets:
      - 10.10.100.0/24
    ca:
      crt: op://F9-HomeLab/talos/CLUSTER_ETCD_CA_CRT
      key: op://F9-HomeLab/talos/CLUSTER_ETCD_CA_KEY
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
  proxy:
    disabled: true
    image: registry.k8s.io/kube-proxy:v1.34.1
  scheduler:
    config:
      apiVersion: kubescheduler.config.k8s.io/v1
      kind: KubeSchedulerConfiguration
      profiles:
        - schedulerName: default-scheduler
          plugins:
            score:
              disabled:
                - name: ImageLocality
          pluginConfig:
            - name: PodTopologySpread
              args:
                defaultingType: List
                defaultConstraints:
                  - maxSkew: 1
                    topologyKey: kubernetes.io/hostname
                    whenUnsatisfiable: ScheduleAnyway
    extraArgs:
      bind-address: 0.0.0.0
    image: registry.k8s.io/kube-scheduler:v1.34.1
  secretboxEncryptionSecret: op://F9-HomeLab/talos/CLUSTER_SECRETBOXENCRYPTIONSECRET
  serviceAccount:
    key: op://F9-HomeLab/talos/CLUSTER_SERVICEACCOUNT_KEY
  {% endif %}
---
apiVersion: v1alpha1
kind: WatchdogTimerConfig
device: /dev/watchdog0
timeout: 5m
---
apiVersion: v1alpha1
kind: ExtensionServiceConfig
name: nut-client
configFiles:
  - content: |-
        MONITOR f9-nas.internal 1 upsmon upsmon secondary
        SHUTDOWNCMD "/sbin/poweroff"
    mountPath: /usr/local/etc/nut/upsmon.conf
