# talos/talos/machine-config/worker.yaml.tftpl
machine:
  network:
    hostname: ${hostname}
  nodeLabels:
    topology.kubernetes.io/region: ${cluster_name}
    topology.kubernetes.io/zone: ${node_name}
    worker: "true"
  features:
    hostDNS:
      forwardKubeDNSToHost: false