# talos/talos/machine-config/worker.yaml.tftpl
machine:
  network:
    hostname: ${hostname}
  nodeLabels:
    topology.kubernetes.io/region: ${cluster_name}
    topology.kubernetes.io/zone: ${node_name}
    intel.feature.node.kubernetes.io/gpu: "true"
    worker: "true"
  features:
    hostDNS:
      forwardKubeDNSToHost: false
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
provisioning:
  diskSelector:
     match: true && !system_disk
  minSize: 20GB