---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pgadmin
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: pgadmin
  values:
    controllers:
      pgadmin:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: docker.io/dpage/pgadmin4
              tag: 9.11@sha256:50700ac17936d0227f9e3e4bb086a91efb67064debc4b4737c35545bf1564088
            env:
              PGADMIN_CONFIG_X_CONTENT_TYPE_OPTIONS: "''"
              PGADMIN_CONFIG_ENHANCED_COOKIE_PROTECTION: "False"
              PGADMIN_CONFIG_X_XSS_PROTECTION: 0
            envFrom:
              - secretRef:
                  name: pgadmin-secret
            resources:
              requests:
                memory: 256Mi
              limits:
                memory: 256Mi
        pod:
          securityContext:
            runAsUser: 0
            runAsGroup: 0
    service:
      app:
        controller: pgadmin
        ports:
          http:
            port: &port 80
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == any(200,401)"]
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /var/lib/pgadmin
      # server-json:
      #   enabled: true
      #   type: configMap
      #   name: servers-json
      #   globalMounts:
      #     - path: /pgadmin4/servers.json
      #       subPath: servers.json