---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &app authelia
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: authelia-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # Authelia
        AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD: "{{ .LLDAP_LDAP_USER_PASS }}"
        AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET: "{{ .AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET }}"
        AUTHELIA_SESSION_SECRET: "{{ .AUTHELIA_SESSION_SECRET }}"
        AUTHELIA_STORAGE_ENCRYPTION_KEY: "{{ .AUTHELIA_STORAGE_ENCRYPTION_KEY }}"

        AUTHELIA_STORAGE_POSTGRES_ADDRESS: &dbhost postgres-rw.database.svc.cluster.local
        AUTHELIA_STORAGE_POSTGRES_DATABASE: &dbname authelia
        AUTHELIA_STORAGE_POSTGRES_USERNAME: &dbuser authelia
        AUTHELIA_STORAGE_POSTGRES_PASSWORD: &dbpass "{{ .AUTHELIA_DB_PASSWORD }}"

        # Other Variables
        JWKS_KEY: "{{ .AUTHELIA_IDENTITY_PROVIDERS_OIDC_ISSUER_PRIVATE_KEY }}"
        JWT_SECRET: "{{ .AUTHELIA_JWT_SECRET }}"

        # OIDC Apps
        IMMICH_OAUTH_CLIENT_ID: "{{ .IMMICH_OAUTH_CLIENT_ID }}"
        IMMICH_OAUTH_CLIENT_SECRET: "{{ .IMMICH_OAUTH_CLIENT_SECRET }}"
        FORGEJO_OAUTH_CLIENT_ID: "{{ .FORGEJO_OAUTH_CLIENT_ID }}"
        FORGEJO_OAUTH_CLIENT_SECRET: "{{ .FORGEJO_OAUTH_CLIENT_SECRET }}"
        DIRECTUS_OAUTH_CLIENT_ID: "{{ .DIRECTUS_OAUTH_CLIENT_ID }}"
        DIRECTUS_OAUTH_CLIENT_SECRET: "{{ .DIRECTUS_OAUTH_CLIENT_SECRET }}"
        OPENWEBUI_OAUTH_CLIENT_ID: "{{ .OPENWEBUI_OAUTH_CLIENT_ID }}"
        OPENWEBUI_OAUTH_CLIENT_SECRET: "{{ .OPENWEBUI_OAUTH_CLIENT_SECRET }}"
        OUTLINE_OAUTH_CLIENT_ID: "{{ .OUTLINE_OAUTH_CLIENT_ID }}"
        OUTLINE_OAUTH_CLIENT_SECRET: "{{ .OUTLINE_OAUTH_CLIENT_SECRET }}"
        ZIPLINE_OAUTH_CLIENT_ID: "{{ .ZIPLINE_OAUTH_CLIENT_ID }}"
        ZIPLINE_OAUTH_CLIENT_SECRET: "{{ .ZIPLINE_OAUTH_CLIENT_SECRET }}"
        GRAFANA_OAUTH_CLIENT_ID: "{{ .GRAFANA_OAUTH_CLIENT_ID }}"
        GRAFANA_OAUTH_CLIENT_SECRET: "{{ .GRAFANA_OAUTH_CLIENT_SECRET }}"
        HEADLAMP_OAUTH_CLIENT_ID: "{{ .HEADLAMP_OAUTH_CLIENT_ID }}"
        HEADLAMP_OAUTH_CLIENT_SECRET: "{{ .HEADLAMP_OAUTH_CLIENT_SECRET }}"
        HOMEASSISTANT_OAUTH_CLIENT_ID: "{{ .HOMEASSISTANT_OAUTH_CLIENT_ID }}"
        HOMEASSISTANT_OAUTH_CLIENT_SECRET: "{{ .HOMEASSISTANT_OAUTH_CLIENT_SECRET }}"

        # # Postgres Init
        INIT_POSTGRES_DBNAME: *dbname
        INIT_POSTGRES_HOST: *dbhost
        INIT_POSTGRES_USER: *dbuser
        INIT_POSTGRES_PASS: *dbpass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: authelia
    - extract:
        key: lldap
    - extract:
        key: cloudnative-pg