# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app immich
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: immich
  values:
    controllers:
      server:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          enableServiceLinks: false
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1.0@sha256:3c54d39f19fdb82ed5b3f286450e4071133cc6025bd0e25856bc2c522f8fc030
            envFrom:
              - secretRef:
                  name: immich-secret
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.4.1@sha256:e6a6298e67ae077808fdb7d8d5565955f60b0708191576143fc02d30ab1389d1
            env:
              REDIS_HOSTNAME: dragonfly.database.svc.cluster.local
              REDIS_PORT: 6379
              TZ: ${TIMEZONE}
              PUBLIC_IMMICH_SERVER_URL: "https://photos.${SECRET_DOMAIN}"
            envFrom:
              - secretRef:
                  name: immich-secret
            resources:
              claims:
                - name: gpu
    defaultPodOptions:
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: immich-gpu
    service:
      server:
        controller: server
        ports:
          http:
            port: &port 2283
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == any(200,401)"]
        hostnames: ["photos.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      matplotlib:
        type: emptyDir
        globalMounts:
          - path: /config/matplotlib
      library:
        type: nfs
        server: nas.main.internal
        path: /mnt/F9/Photos
        globalMounts:
          - path: /usr/src/app/upload
      tmpfs:
        type: emptyDir
        advancedMounts:
          server:
            main:
              - path: /usr/src/app/.reverse-geocoding-dump
                subPath: geocoding
              - path: /usr/src/app/.transformers_cache
                subPath: transformers